<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="CSS/style.css">
	<title>Tienda La Generica - Bogota</title>
  <style>
    .container{
      max-width: 1050px;
    }
  </style>
</head>
  <body>
    <div>
      <img src="/IMG/header.png"class="img-fluid" alt="Tienda La Generica - Bogota">
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <form action="/productos" method="GET">
          <input class="btnProductos" type="submit" name="btnProductos" id="btnProductos" value="btnProductos">
        </form>
        </li>
      <li class="nav-item">
        <form action="/clientes" method="GET">
          <input class="btnClientes" type="submit" name="btnClientes" id="btnClientes" value="btnClientes">
        </form>
      </li>
      <li class="nav-item">
        <form action="/ventas" method="GET">
          <input class="btnVentas" type="submit" name="btnVentas" id="btnVentas" value="btnVentas">
        </form>
      </li>
      <li class="nav-item">
        <form action="/reportes" method="GET">
          <input class="btnReportes" type="submit" name="btnReportes" id="btnReportes" value="btnReportes">
       </form>
      </li>
      <li class="nav-item">
        <form action="/consolidados" method="GET">
          <input class="btnConsolidados" type="submit" name="btnConsolidados" id="btnConsolidados" value="btnConsolidados">
        </form>
      </li>
      <li class="nav-item">
        <form action="/login" method="GET">
          <input class="btnSalir" type="submit" name="btnSalir" id="btnSalir" value="btnSalir">
        </form>
      </li>
    </ul>
    
    <div class="container">
      <figure class="text-center">
        <blockquote class="blockquote">
          <h1>Consolidados</h1>
        </blockquote>
      </figure>

      <div id="body">	
                
                    
            
      </div> 
    </div>

  <div id="modalProducto" class="modal fade" tabindex="-1" aria-labelledby="modalProducto" aria-hiden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/productos/modificar" method="POST">
             <input type="number" name="txtCodigo_editar" id="txtCodigo_editar" hidden>
            <div class="mb-3">
              <label class="form-label" for="txtNombre">Nombre Producto</label>
              <input class="form-control" type="text" name="txtNombre_editar" id="txtNombre_editar" maxlength="50">
            </div>
            
            <div class="mb-3">
            <label class="form-label" for="txtNit">NIT Proveedor</label> 
            <input class="form-control" type="number" name="txtNit_editar" id="txtNit_editar" maxlength="20" >
            </div>
            
            <div class="mb-3">
              <label class="form-label" for="txtPrecioCompra">Precio Compra</label>
              <input class="form-control" type="number" name="txtPrecioCompra_editar" id="txtPrecioCompra_editar"	maxlength="50">
            </div>
  
            <div class="mb-3">
              <label class="form-label" for="txtIVA">Dirección </label>
              <input class="form-control" type="number" name="txtIVA_editar" id="txtIVA_editar" maxlength="50">
            </div> 

            <div class="mb-3">
              <label class="form-label" for="txtPrecioVenta">Precio Venta</label>
              <input class="form-control" type="number" name="txtPrecioVenta_editar" id="txtPrecioVenta_editar" maxlength="50">
            </div> 

        </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Modificar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
       
    <script type="text/javascript">document.oncontextmenu = function(){return false;}</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/codeproductos.js"></script>
  </body>
</html>
