<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="CSS/style.css">
	<title>Tienda La Generica - Bogota</title>
  <style>
    .container{
      max-width: 1050px;
    }
  </style>
</head>
  <body>
    <div>
      <img src="/IMG/header.png"class="img-fluid" alt="Tienda La Generica - Bogota">
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <form action="/productos" method="GET">
          <input class="btnProductos" type="submit" name="btnProductos" id="btnProductos" value="btnProductos">
        </form>
        </li>
      <li class="nav-item">
        <form action="/clientes" method="GET">
          <input class="btnClientes" type="submit" name="btnClientes" id="btnClientes" value="btnClientes">
        </form>
      </li>
      <li class="nav-item">
        <form action="/ventas" method="GET">
          <input class="btnVentas" type="submit" name="btnVentas" id="btnVentas" value="btnVentas">
        </form>
      </li>
      <li class="nav-item">
        <form action="/reportes" method="GET">
          <input class="btnReportes" type="submit" name="btnReportes" id="btnReportes" value="btnReportes">
       </form>
      </li>
      <li class="nav-item">
        <form action="/consolidados" method="GET">
          <input class="btnConsolidados" type="submit" name="btnConsolidados" id="btnConsolidados" value="btnConsolidados">
        </form>
      </li>
      <li class="nav-item">
        <form action="/login" method="GET">
          <input class="btnSalir" type="submit" name="btnSalir" id="btnSalir" value="btnSalir">
        </form>
      </li>
    </ul>
    
    <div class="container">
      <figure class="text-center">
        <blockquote class="blockquote">
          <h1>Ventas</h1>
        </blockquote>
      </figure>
      <div class="row">
        <div class="col-md-12 seccion1">
          <form method="get" action="Controlador">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label> Datos Clientes</label>
                </div>
                <input type="hidden" name="menu" value="Ventas"> 
                <input type="hidden" name="UsuarioActivo" value="" >
                <div class="form-group d-flex">
                  <div class="col-sm-6 d-flex">
                    <input type="number" name="cedulacliente" class="form-control"
                      placeholder="cedula cliente" value=""> 
                    <input type="submit" name="accion" value="Buscar Cliente" class="btn btn-outline-info">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="nombrecliente" class="form-control"
                      placeholder="Nombre Cliente" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label> Datos Productos </label>
                </div>
                <div class="form-group d-flex">
                  <div class="col-sm-6 d-flex">
                    <input type="number" name="codigoproducto" class="form-control"
                      placeholder="codigo producto" value=""> 
                    <input type="submit" name="accion" value="Buscar Producto"
                      class="btn btn-outline-info">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="nombreproducto" class="form-control"
                      placeholder="Nombre producto" value="">
                  </div>
                </div>
                <div class="form-group d-flex">
                  <div class="col-sm-6 d-flex">
                    <input type="text" name="precioproducto" class="form-control"
                      placeholder="$  0000.00" value="">
    
                  </div>
                  <div class="col-sm-3">
                    <input type="number" name="cantidadproducto" class="form-control"
                      placeholder="Cantidad" value="">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" name="ivaproducto" class="form-control"
                      placeholder="Valor Iva" value="">
                  </div>
                </div>
                <div class="form-group d-flex">
                  <input type="submit" name="accion" value="Agregar Producto"
                    class="btn btn-outline-dark">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
        <div class="col-md-12seccion2">
          <div class="card">
            <div class="card-header">
              <div class="form-group row">
              <label class="col-sm-3 col-form-label">Numero Factura</label>
              <input class="form-control col-md-4" type="text" name="numerofactura" value="">			
              </div>				
            </div>
            <div class="card-body">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>codigo</th>
                    <th>producto</th>
                    <th>precio</th>
                    <th>cantidad</th>
                    <th>iva</th>
                    <th>total</th>
                  </tr>
                </thead>
                <tbody>
                <c:forEach var="lista" items="">
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </c:forEach>
                </tbody>
              </table>				
            </div>
            <div class="card-footer d-flex">
              <div class="col-md-4">
                <label>Subtotal</label></br> </br>
                <label>iva</label></br> </br>
                <label>total a pagar</label></br> </br>
              </div>
              <div class="col-md-4">
                <input type="text" name="txtsubtotal" class="form-control" placeholder="$ 00.000.00" disabled="disabled" value="">
                <input type="text" name="txttotaliva" class="form-control" placeholder="$ 00.000.00" disabled="disabled" value="">
                <input type="text" name="txttotalapagar" class="form-control" placeholder="$ 00.000.00" disabled="disabled" value="">
              </div>									
            </div>							
          </div>	
          
          <div class="card-footer" d-flex>
            <div class="col-md-8">
             <!-- enviamos los tres valores al controlador --> 
              <a class="btn btn-success" onclick="print()" href="Controlador?menu=Ventas&accion=GenerarVenta&cedulacliente=${clienteSeleccionado.getCedula_cliente()}&UsuarioActivo=${usuarioSeleccionado.getCedula_usuario()}&numerofactura=${numerofactura}">Generar Venta</a>
              <a class="btn btn-danger" href="Controlador?menu=Ventas&accion=NuevaVenta">Nueva Venta</a>
            </div>
          </div>				
        </div>
        
      </div>
    </div>
    <script type="text/javascript">document.oncontextmenu = function(){return false;}</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
