<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="CSS/style.css">
	<title>Tienda La Generica - Bogota</title>
  <style>
    .container{
      max-width: 1050px;
    }
  </style>
</head>
  <body>
    <div>
      <img src="/IMG/header.png"class="img-fluid" alt="Tienda La Generica - Bogota">
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <form action="/productos" method="GET">
          <input class="btnProductos" type="submit" name="btnProductos" id="btnProductos" value="btnProductos">
        </form>
        </li>
      <li class="nav-item">
        <form action="/clientes" method="GET">
          <input class="btnClientes" type="submit" name="btnClientes" id="btnClientes" value="btnClientes">
        </form>
      </li>
      <li class="nav-item">
        <form action="/ventas" method="GET">
          <input class="btnVentas" type="submit" name="btnVentas" id="btnVentas" value="btnVentas">
        </form>
      </li>
      <li class="nav-item">
        <form action="/reportes" method="GET">
          <input class="btnReportes" type="submit" name="btnReportes" id="btnReportes" value="btnReportes">
       </form>
      </li>
      <li class="nav-item">
        <form action="/consolidados" method="GET">
          <input class="btnConsolidados" type="submit" name="btnConsolidados" id="btnConsolidados" value="btnConsolidados">
        </form>
      </li>
      <li class="nav-item">
        <form action="/login" method="GET">
          <input class="btnSalir" type="submit" name="btnSalir" id="btnSalir" value="btnSalir">
        </form>
      </li>
    </ul>
    
    <div class="container">
      <figure class="text-center">
        <blockquote class="blockquote">
          <h1>Ventas</h1>
        </blockquote>
      </figure>

      <div id="body">	
        <div class="container">
          <div class="row-cols-auto">
            <div class="col-6 col-md-4">
              <label class="form-label" for="txtcedula_cliente_ventas">Cedula Cliente</label>
            </div>
            <div class="col-6 col-md-4">
              <input class="form-control" type="number" name="txtcodigo_venta_ventas" id="txtcodigo_venta_ventas" maxlength="20" required>
            </div>
            <div class="col-6 col-md-4">
              <button type="submit" class="w-100 btn btn-crear btn-lg"><i class="bi bi-search"></i> Consultar Cliente</button>
            </div>
          </div>

        </div>
        <form action="/ventas/cedulacliente/" method="POST">

          <div>
            <label class="form-label" for="txtcodigo_venta_ventas">Codigo Venta</label>
            <input class="form-control" type="number" name="txtcodigo_venta_ventas" id="txtcodigo_venta_ventas" maxlength="20" required>
          </div>

          <div>
            <label class="form-label" for="txtcedula_cliente_ventas">Cedula cliente</label>
            <input class="form-control" type="number" name="txtcedula_cliente_ventas" id="txtcedula_cliente_ventas" maxlength="50">
          </div>
          
          <div>
          <label class="form-label" for="txtcantidad_producto_detalle_ventas">cantidad de producto</label> 
          <input class="form-control" type="number" name="txtcantidad_producto_detalle_ventas" id="txtcantidad_producto_detalle_ventas" maxlength="20" >
          </div>
          
          <div>
            <label class="form-label" for="txtcodigo_producto_detalle_ventas">codigo producto</label>
            <input class="form-control" type="number" name="txtcodigo_producto_detalle_ventas" id="txtcodigo_producto_detalle_ventas"	maxlength="50">
          </div>

          <div>
            <label class="form-label" for="txtvalor_total_detalle_ventas">valor total detalle venta</label>
            <input class="form-control" type="number" name="txtvalor_total_detalle_ventas" id="txtvalor_total_detalle_ventas" maxlength="50">
          </div>
          
          <div>
            <label class="form-label" for="txtvalor_venta_detalle_ventas">valor venta detalle venta</label>
            <input class="form-control" type="number" name="txtvalor_venta_detalle_ventas" id="txtvalor_venta_detalle_ventas" maxlength="50">
          </div>
        
          <div>
            <label class="form-label" for="txtvaloriva_detalle_ventas">valor iva detalle venta</label>
            <input class="form-control" type="number" name="txtvaloriva_detalle_ventas" id="txtvaloriva_detalle_ventas" maxlength="50">
          </div>

          <div>
            <label class="form-label" for="txtivaventas_ventas">Iva venta</label>
            <input class="form-control" type="number" name="txtivaventas_ventas" id="txtivaventas_ventas" maxlength="50">
          </div>

          <div>
            <label class="form-label" for="txttotal_venta_ventas">Total venta</label>
            <input class="form-control" type="number" name="txttotal_venta_ventas" id="txttotal_venta_ventas" maxlength="50">
          </div>

          <div>
            <label class="form-label" for="txtvalor_venta_ventas">Valor venta</label>
            <input class="form-control" type="number" name="txtvalor_venta_ventas" id="txtvalor_venta_ventas" maxlength="50">
          </div>

      </div> 
        <button type="submit" class="w-100 btn btn-crear btn-lg"><i class="bi bi-save"></i>Registrar Venta</button>

      </div>
    </div>
  </div>
       
    <script type="text/javascript">document.oncontextmenu = function(){return false;}</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
